---
import Container from "./Container.astro";
---

<header>
	<Container>
		<a href="/">shift logger</a>
	</Container>
</header>

<style>
	header {
		padding: 1.5em 0;
		background-color: var(--dark);

		a {
			text-decoration: none;
			color: var(--text);
		}
	}
</style>
